<script>
	export let show = false;
	export let onClose;
</script>

<div class={`fixed inset-0 z-10 overflow-auto bg-black bg-opacity-50 ${show ? 'block' : 'hidden'}`}>
	<div class="mx-auto my-20 w-4/5 border border-gray-300 p-5">
		<button class="float-right text-2xl font-bold text-gray-500" on:click={onClose}>&times;</button>
		<slot></slot>
	</div>
</div>
