<script lang="ts">
	import { ThemeController } from '@/components/theme-controller';
</script>

<footer class="min-h-16 w-full border-t">
	<div class="container max-w-[1024px] py-8 text-foreground/70">
		<div class="flex w-full items-center justify-between">
			<div class="flex items-center space-x-1">Pluteum © 2024</div>
			<ThemeController />
		</div>
	</div>
</footer>
