<script lang="ts">
	import { Logo } from '@/components/logo';
</script>

<a class="contents" href="/">
	<div class="flex h-9 w-full items-center space-x-3 md:w-auto">
		<Logo size="sm" />
		<div class="hidden text-nowrap text-lg font-medium md:block">Pluteum</div>
	</div>
</a>
