<script lang="ts">
	import { onMount } from 'svelte';
	import { Modal } from '@/components/ui/modal';

	export let data;
	$: ({ session, supabase } = data);

	type Book = {
		id: string;
		name: string;
		isbn: string;
		cover_url: string;
		rating: number;
		comment: string;
		collection_id: string;
	};

	let books: Book[] = [];
	let showModal = false;
	let newBook: Partial<Book> = {};

	onMount(async () => {
		await fetchBooks();
	});

	const fetchBooks = async () => {
		const { data, error } = await supabase.from('pluteum_books').select('*');
		if (error) {
			console.error('Error fetching books:', error);
		} else {
			console.log('Data is ', data);
			books = data;
		}
	};

	const addBook = async () => {
		console.log('Adding book', newBook);
		const { data, error } = await supabase.from('pluteum_books').insert([newBook]).select();
		if (error) {
			console.error('Error adding book:', error);
		} else {
			books = [...books, ...data];
			showModal = false;
		}
	};
</script>

<main>
	<h1>Books</h1>
	<button on:click={() => (showModal = true)}>Add Book</button>

	{#if books.length > 0}
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>ISBN</th>
					<th>Cover URL</th>
					<th>Rating</th>
					<th>Comment</th>
					<th>Collection ID</th>
				</tr>
			</thead>
			{#each books as book}
				<tr>
					<td>{book.name}</td>
					<td>{book.isbn}</td>
					<td>{book.cover_url}</td>
					<td>{book.rating}</td>
					<td>{book.comment}</td>
					<td>{book.collection_id}</td>
				</tr>
			{/each}
		</table>
	{:else}
		<p>No books found.</p>
	{/if}

	<Modal show={showModal} onClose={() => (showModal = false)}>
		<div class="flex flex-col">
			<h2 class="mb-4 text-lg font-bold">Add a new book</h2>
			<form on:submit|preventDefault={addBook} class="flex flex-col gap-4">
				<div class="flex items-center space-x-4">
					<span class="w-1/5">Name:*</span>
					<input
						type="text"
						bind:value={newBook.name}
						required
						class="flex-1 border border-white p-2"
					/>
				</div>
				<div class="flex items-center space-x-4">
					<span class="w-1/5">ISBN:</span>
					<input type="text" bind:value={newBook.isbn} class="flex-1 border border-white p-2" />
				</div>
				<div class="flex items-center space-x-4">
					<span class="w-1/5">Cover URL:</span>
					<input
						type="text"
						bind:value={newBook.cover_url}
						class="flex-1 border border-white p-2"
					/>
				</div>
				<div class="flex items-center space-x-4">
					<span class="w-1/5">Rating:</span>
					<input type="number" bind:value={newBook.rating} class="flex-1 border border-white p-2" />
				</div>
				<div class="flex items-center space-x-4">
					<span class="w-1/5">Comment:</span>
					<textarea bind:value={newBook.comment} class="flex-1 border border-white p-2"></textarea>
				</div>
				<div class="flex items-center space-x-4">
					<span class="w-1/5">Collection ID:</span>
					<input
						type="text"
						bind:value={newBook.collection_id}
						class="flex-1 border border-white p-2"
					/>
				</div>
				<button type="submit" class="mt-4 self-start border-[1px] border-white p-2 text-white"
					>Add Book</button
				>
			</form>
		</div>
	</Modal>
</main>
